site_name: Support @ Hobby Stuff
site_url: https://support.hobbystuff.co.uk
theme:
  name: material
  features:
    - navigation.footer
    - content.code.copy
    
  palette:
  # Dark Mode
  - scheme: slate
    toggle:
      icon: material/weather-sunny
      name: Dark mode
    primary: indigo
    accent: deep purple

  # Light Mode
  - scheme: default
    toggle:
      icon: material/weather-night
      name: Light mode
    primary: blue
    accent: deep orange

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - tables
  - def_list
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  homepage: https://hobbystuff.co.uk
  social:
    - icon: material/web
      link: https://hobbystuff.co.uk
    - icon: simple/youtube
      link: https://www.youtube.com/@HobbyStuffLtd
    - icon: simple/ebay
      link: https://www.ebay.co.uk/str/hobbystuffltd
  announcement:
    type: info
    text: 'Visit our <a href="https://yourmainomMain Website</a>'
  nav:
    - Main Website: https://hobbystuff.co.uk

copyright: "Copyright &copy; Hobby Stuff Ltd"

extra_css:
  - css/extra.css